.character-container {
  display: grid;
  margin: 50px 300px;
  padding-bottom: 20px;
  background-color: #4e3a1cd4;
  border: solid 2px chartreuse;
  border-radius: 15px;
}

h3 {
  /* text-align: left; */
  grid-column: 1/span 2;
  grid-row: 1;
  margin-left: 20px;
  font-size: 50px;
  color: chartreuse;
  text-shadow: 1px 1px whitesmoke;
}

img {
  grid-column: 1/span 1;
  grid-row: 2;
  width: 300px;
  margin-left: 20px;
  border-radius: 15px;
  padding: 20px;
  border: solid 5px chartreuse;
}

.list-container {
  grid-column: 2/span 2;
  grid-row: 2;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
  font-size: 30px;
  color: blanchedalmond;
}
