.header-container {
    width: 100%;
    text-align: center;
    background-color: black;
    border: solid 10px chartreuse;
    border-radius: 25px;
  }
  
  #img-header {
    height: 300px;
    border: none;
  }
  
  h1 {
    margin: 0px;
    color: yellow;
    text-shadow: 2px 1px #ffebcd;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  h2 {
    font-size: 35px;
  }
  
  #img-header, h1 {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-top: 20px;
      margin-right: 100%;
      width: 800%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
