.home-container {
    background-color: rgba(78, 58, 28, 0.831);
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

#home-image {
    width: 270px;
    margin: 40px 0;
    padding: 7px;
}

.link-name {
    text-decoration: none;
    font-size: 2em;
    color: blanchedalmond;
}

.link-name:hover {
    color: chartreuse;
    border-radius: 50px;
}
