#root {
  width: 100%;
  text-align: center;
  background-color: black;
  color: #ffebcd;
}

.logo {
  height: 15em;
  padding: 1.5em;
}

h1 {
  margin: 0px;
  color: chartreuse;
  text-shadow: 2px 1px #ffebcd;
}

h2 {
  font-size: 35px;
}

.logo {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 800%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}